@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #1a1a1c;
  color:#fff;
}
.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-text{
  margin-bottom: 32px;
  text-align: center;
}
.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: rgb(49, 52, 48);
}
.coin-input::placeholder{
color:rgb(199, 202, 198)
}
.coin-currency{
  margin-top: 1rem;
}